@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 240deg, 21%, 15%; /* --base color in hsl */
    --foreground: 222.2 84% 4.9%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;
    --radius: 0.5rem;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    /* Custom colors (#catppuccin mocha reference) */
    --crust: #11111b;
    --mantle: #181825;
    --base: #1e1e2e;
    --surface0: #313244;
    --surface1: #45475a;
    --surface2: #585b70;
    --overlay0: #6c7086;
    --overlay1: #7f849c;
    --overlay2: #9399b2;
    --subtext0: #a6adc8;
    --subtext1: #bac2de;
    --text: #cdd6f4;
    --text-30: #9096ab;
    --lavender: #b4befe;
    --lavender-30: #7e85b2;
    --lavender-70: #36394c;
    --blue: #89b4fa;
    --sapphire: #74c7ec;
    --sky: #89dceb;
    --teal: #94e2d5;
    --yellow: #f9e2af;
    --peach: #fab387;
    --maroon: #eba0ac;
    --red: #ed8796;
    --mauve: #cba6f7;
    --pink: #f5c2e7;
    --flamingo: #f2cdcd;
    --rosewater: #f5e0dc;
  }

  .dark {
    --background: 240deg, 21%, 15%; /* --base color in hsl */
    --foreground: 210 40% 98%;
    --card: 237deg, 16%, 23%; /* --surface0 */
    --card-foreground: 210 40% 98%;
    --popover: 237deg, 16%, 23%; /* --surface0 */
    --popover-foreground: 232deg, 97%, 85%;  /* --lavender */
    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
    --muted: 234deg, 13%, 31%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 234deg, 13%, 31%; /* --surface1 */
    --accent-foreground: 226deg, 64%, 88%; /* --text */
    --destructive: 351deg, 74%, 73%; /* --red */
    --destructive-foreground: 210 40% 98%;
    --border: 237deg, 16%, 23%;
    --input: 237deg, 16%, 23%;
    --ring: 212.7 26.8% 83.9%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
    --text-30: #9096ab;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-text;
    /*@apply text-[color:var(--text)];*/
  }
}